*{
    padding: 0px;
    margin: 0px;
    font-family:sans-serif;
    font-weight: lighter; 
}
a{
    color:black; 
}

a:hover{
    font-weight:350; 
}
nav a{
    color:black;
    font-weight: 300;
    text-decoration: none;
}
a:active{
    color: purple;
}
nav a:hover{
    font-weight: bold;
}
ul{
    margin-left:4%;
}

img.icon{
width: 75px;
height: 75px;
}

img.small{

    height: 150px;
}

img.medium{
    width: 300px;
    float: left; 
    padding: 10px; 
}

img.logo{
    width: 75px;
    float:left; 
    padding: 5px; 
    margin: 5px; 
}

h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: initial;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
}

h2{
    font-size: 25px;
    margin: 0px; 
}

li.menu{
    display: flex;
    flex-direction: column;
}

ul.menu{
    list-style: none;
    display: flex;  
    width: 80%;
    justify-content: center;
}

nav{
    justify-content: center;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px; 
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    background-color: white;
    padding-top: 10px; 
    padding-bottom: 10px;
    color: black;
}
nav.home{
    list-style: none; 
    text-align: right;
    position: absolute;
    right: 5px;
    background: lightgray;
    border: 0;
}

header{
    text-align: center; 
    width: 100%; 
    background-color: lightgray;


}

header.home{

    text-align: center;
    background-color: lightgray;
    padding-top:20px;
    padding-bottom:20px;
    border-bottom: 1px solid black;
}
 
ul.flex{
    display:flex;
    background-color: hotpink;
}

div.container{
    display:flex; 
}

main{
    padding-left:5%;
    padding-right:5%;
    padding-top: 10px; 
    padding-bottom: 10px;
    display: flex; 
    flex-direction: row;
}

div.title-logo{
    overflow: auto;
    width: 100%;
    display: flex; 
}

div.index-image{
   
    width: 200px;
    float:left; 
    display: flex;
    position:relative;
    margin: 10px;
    padding: 10px;
}

div.index-text{

    float:left;
  
 
   
    margin: 10px;
    padding: 10px;
}
div.about-half{
    width: 50%;
    float:left; 
    height:200px;
    position:relative;
    margin: 10px;
    padding: 10px;

}
form{
    width:300px;  
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    padding: 10px; 
    display:block;
    height:auto; 

}
label{
    text-align: left; 
    display: block; 
}
input, textarea{
    border: 1px solid lightgray;
    padding: 3%; 
    width: 90%;
    border-radius: 3px; 
}
textarea{
    resize: vertical; 
}

input:focus,textarea:focus{
    border: 1px solid darkgray;

}
.error{
    border: 2px solid rgb(124, 0, 0); 
}
.error-message {
    color: rgb(124, 0, 0);
}
button{
    padding:1px; 
    width: 6em; 
    font-size:100%;
    cursor: pointer;
}
button.hover{
    background-color: rgb(35, 35, 35);
}


footer {

   /* position:absolute;*/
    margin: 0px;
    padding: 0px; 
    background-color: lightgray;
    border-top: 1px solid black; 
    text-align:center
}